body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body p{
    color: dimgray;
}
section{
    height: 500px;
    padding: 50px;
}

.manu-part{
    height: 100px;
    width: 32%;
    padding: 50px;
    float: right;
}



h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}
.profile-part p{
   padding: 20px 0px;
}
.front-color{
    color: tomato;
}
.btn-link{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgb(255, 0, 0), rgba(255, 187, 0, 0.938));
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-link:hover{
    background-image: linear-gradient(45deg, rgba(255, 187, 0, 0.938), rgb(255, 0, 0));
}
.profile-section{
    margin: 10px;
}

.profile-part{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 3%;
}

.profile-part img{
    width: 70%;
}

.work-sestion{
    background-color: rgba(243, 235, 235, 0.918);
    padding-bottom: 60px;
}
.work-sestion h2{
    text-align: center;
    padding: 10px;
  
}
.work-area{
    width: 100%;
    padding-top: 40px;
}
.work-part{
    width: 30%;
    float: left;
    margin: 1.6%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    background-color: white;
}
.work-part img{
    width: 80%;   
    padding:25px 0 0 25px;
}
.work-part h3{
    padding: 10px  25px;;
}
.work-part p{
    padding: 0 0 25px 25px;
}



.work-inquiry-part{
    background-image: url(images/Group_33094_1.png);
    background-position:left;
    background-repeat: no-repeat;
    height: 100px;
    margin: 100px 200px;
    border-radius: 20px;
}
.inquiry-part{
    padding-top: 30px;
    width: 40%;
    float: left;
    color: white;
    font-size: 35px;
}
.btn-chat{
    width: 20%;
    float: right;
    padding-top: 35px;
}
.btn-chat a {
    text-transform: capitalize;
    font-weight: 400;
}


footer{
    padding: 10px;
}
footer p{
    text-align: center;
}